<header class="jumbotron-fluid header-image container-fluid">
  <div class="row">
    <div class="header-copy col-lg-4 offset-lg-4">
      <h1>SLO Hiker</h1>
      <p>A quick guide to trails in San Luis Obispo</p>
    </div>
  </div>
</header>

<article class="container-fluid">
  <div class="row trail-table-row">
    <div class="col-lg-8 offset-lg-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Trail Name</th>
            <th>Miles</th>
            <th>Time</th>
            <th>Difficulty</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="trail in home.trails | trailsort:home.getFilter()">
            <td>{{trail.trailName}}</td>
            <td>{{trail.length}}</td>
            <td>{{trail.timeToHike}}</td>
            <td>{{trail.difficulty}}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- col -->
  </div> <!-- row -->

<p><a ui-sref="trail({ trailId: 'cerroSanLuis'})">Link to trails</a></p>

  <div class="row">
    <div class="col">
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort trails by
          </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#" ng-click="home.changeFilterTo('difficulty')">Sort by difficulty</a>
          <a class="dropdown-item" href="#" ng-click="home.changeFilterTo('length')">Sort by length</a>
          <a class="dropdown-item" href="#" ng-click="home.changeFilterTo('timeToHike')">Sort by time to hike</a>
        </div>
      </div> <!--dropdown -->
    </div> <!-- col -->
    <div class="col">
      <a href="" ng-click="home.changeFilterTo('difficulty')">Sort by difficulty</a>
      <a href="" ng-click="home.changeFilterTo('length')">Sort by length</a>
      <a href="" ng-click="home.changeFilterTo('timeToHike')">Sort by time to hike</a>
    </div> <!-- col -->
  </div> <!-- row -->
</article> <!-- container -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-1">
      <section>
        <gm-map gm-map-id="'mapWithMarkers'" gm-center="center"
                gm-zoom="zoom" gm-map-options="home.options.map" class="map">

          <gm-markers gm-objects="home.hikingTrails"
                      gm-id="object.id"
                      gm-position="{lat: object.location.lat, lng: object.location.lng}"
                      gm-marker-options="home.getHikingTrailOpts(object)"
                      gm-on-click="home.selectHikingTrail(object, marker)">
          </gm-markers>

        </gm-map>
      </section>

      <section>
        <h5 class="muted" ng-show="!trl">Select a marker!</h5>
        <div ng-show="trl">
          <h5>{{ trl.trailName }}, {{ trl.elevation }}</h5>
          <img class="trl" ng-src="{{ trl.img }}"></img>
        </div>
      </section>
    </div>
    <div class="col-lg-4 offset-lg-2">
      <div weather id="weather"></div>
    </div>
  </div> <!-- row -->
</div> <!-- container -->

<footer class="container-fluid">
  <div class="row">
    <div class="col ">
      <h3>Footer</h3>
    </div> <!-- col -->
  </div> <!-- row -->
</footer> <!-- container -->
