<header class="jumbotron-fluid trail-header container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <img class="img-fluid" src="../assets/images/trail_pics/mountain-graphic.png" alt-text="graphic of mountain range">
    </div>
    <div class="col align-self-center">
      <h1 class="trails-trail-name">{{ trailmain.trailData.trailName }}</h1>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 bg-white pl-0">
          <li class="breadcrumb-item"><a href='/'>All trails</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ trailmain.trailData.trailName }}</li>
        </ol>
      </nav>
    </div>
  </div><!-- row -->
</div>

<div class="container">
  <div class="row general-trails-section">
    <section class="col-lg-8">
      <h2>Pros</h2>
      <p>{{ trailmain.trailData.pro }}</p>

      <h2>Cons</h2>
      <p>{{ trailmain.trailData.con }}</p>

      <h2>Parking</h2>
      <p>{{ trailmain.trailData.parking }}</p>

      <h2>Directions</h2>
      <map-directions></map-directions>

      <h2>Trail Map</h2>
      <p><a href="{{ trailmain.trailData.trailMapUrl }}">Get the map</a></p>

      <!--<p><a href="/">Back to all trails</a></p> -->
    </section>

    <section class="col-lg-4">
      <img src="{{ trailmain.trailData.trailPhoto }}" class="img-fluid" alt="View from {{ trailmain.trailData.trailName }}">
      <table class="table">
        <tbody>
          <tr>
            <td>Length</td>
            <td>{{ trailmain.trailData.length }} miles</td>
          </tr>
          <tr>
            <td>Time</td>
            <td>{{ trailmain.trailData.timeToHike | timeConvert }}</td>
          </tr>
          <tr>
            <td>Difficulty</td>
            <td>{{ trailmain.trailData.difficulty }}</td>
          </tr>
          <tr>
            <td>Elevation</td>
            <td>{{ trailmain.trailData.elevation }}</td>
          </tr>
          <tr>
            <td>Loop</td>
            <td>{{ trailmain.trailData.loop }}</td>
          </tr>
          <tr>
            <td>Bathrooms</td>
            <td>{{ trailmain.trailData.bathrooms }}</td>
          </tr>
          <tr>
            <td>Dogs</td>
            <td>{{ trailmain.trailData.dogs }}</td>
          </tr>
          <tr>
            <td>Fees</td>
            <td>{{ trailmain.trailData.fees }}</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div> <!-- row -->
</div> <!--container -->

<footer class="container-fluid footer-container">
  <div class="row footer-trail">
    <div class="col">
      <p class="mb-0">Copyright&copy; Ericka Stenman 2018</p>
    </div> <!-- col -->
  </div> <!-- row -->
</footer> <!-- container -->
